<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Unit of Measurement</string>
			<key>Key</key>
			<string>measurement</string>
			<key>DefaultValue</key>
			<string>LBs</string>
			<key>Titles</key>
			<array>
				<string>Kilogram/Centimeter</string>
				<string>Stone &amp; LBs/Feet &amp; Inches</string>
			</array>
			<key>Values</key>
			<array>
				<string>KGs</string>
				<string>LBs</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Select Plan</string>
			<key>Key</key>
			<string>plan</string>
			<key>DefaultValue</key>
			<string>SmartPoints</string>
			<key>Titles</key>
			<array>
				<string>SmartPoints</string>
				<string>ProPoints</string>
			</array>
			<key>Values</key>
			<array>
				<string>SmartPoints</string>
				<string>ProPoints</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
